{% extends 'main/base.html' %}

{% block title %} main page {% endblock %}

{% block content %}
<div class="d-flex flex-column justify-content-start align-items-center h-100 p-4 gap-2 ">
      <img src="/static/img/h1.jpg" class="img-fluid w-100" style="height: 50vh; object-fit: cover;"/>
</div>




<main class="container">
    <div>
        <h6>UX/UI Design</h6>

    </div>
    <div>
        <h6>Logo & Branding Design</h6>

    </div>
    <div>
        <h6>Web & App Design</h6>

    </div>
    <div>
        <h6>Video & Motion Graphics</h6>

    </div>
<div>
    <h6>Product & Industrial Design</h6>


</div>


</main>
{% endblock %}